
/* =====body===== */

$font-stack:    'RobotoRegular', sans-serif;
$primary-color: #434343;
$primary-fz: 14px;
$primary-l-heigth: 1.3;

/* =====btn===== */

$btn-font-size: 14px;
$btn-color: #fff;
$btn-color-h: #c62d46;
$btn-width: 100%;
$btn-radius: 30px;
$btn-pd: 12px 0 12px; 
$btn-bgc: #c62d46;
$btn-bgc-h: transparent;
$btn-border: 3px solid $btn-bgc;
$btn-text-transf: uppercase;

/* =====title===== */

$title-font-size: 36px;
$title-color: #4d4d4d;

/* ======input======= */

$inputpadding: 21px 0 25px;
$inputborder: none;
$inputradius: 35px;

